<div class="footer">
	<div class="inner">
		<div class="manage">
			<a target="_blank" href="www.loveinyeu.cn/blog">站内导航</a>  | <script src="https://s4.cnzz.com/z_stat.php?id=1260722023&web_id=1260722023" language="JavaScript"></script>
            <script src=" " type="text/javascript"></script>		
        </div>		
		<div class="copyright">
			<a href="">Derek的博客</a>，版权所有！ © 2016 <img src="">
			 <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn ">闽ICP备16038037号</a> 
			 <a rel="nofollow" target="_blank" href="">Design by Derek</a>
		</div>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260722023'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260722023%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	</div>
</div>